.icon-container {
    border-radius: 7px;
}

.stars i {
    margin-right: 2px;
    color: red;
    font-size: 13px;
}

.rating-number {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
}

.number-ratings {
    font-size: 12px;
}

.listing-title {
    margin-bottom: -7px;
}

.progress-bar {
    background: #24d350;
}

.progress {
    height: 16px;
}

.tags span {
    margin-right: 9px;
    border: 1px solid #24d350;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 7px;
    background-color: #24d350;
    color: #fff;
}


.services .jobs-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    width: 90%;
    box-align: center;
    padding: 60px 30px;
    text-align: justify;
    transition: 0.3s;
    border-radius: 5px;
  }

.services h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #24d350;
  }

.services .jobs-box p {
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
    letter-spacing: 0.8px;
}
